// Couleurs
$body-bg: #f2f2f2 !default;
$primary: #09c !default;
$primary-text: #fff !default;
$secondary: #000 !default;
$secondary-text: #fff !default;
$font-light: #685f5f !default;
$link-text: #275f7f !default;

$font-size: 14px !default;

// Backoffice
$header-height: 48px !default;
$sidebar-width: 270px !default;
$sidebar-width-compact: 52px !default;

$padding-wrapper: 16px;

$width-xs: 320px;
$width-s: 480px;
$width-m: 768px;
$width-l: 1200px;
$width-xl: 1600px;