.image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
}

.size-1 {
  font-size: 3rem !important;
}

.size-2 {
  font-size: 2.5rem !important;
}

.size-3 {
  font-size: 2rem !important;
}

.size-4 {
  font-size: 1.5rem !important;
}

.size-5 {
  font-size: 1.25rem !important;
}

.size-6 {
  font-size: 1rem !important;
}

.size-7 {
  font-size: 0.75rem !important;
}

.tabs {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;

  &.right ul {
    justify-content: flex-end;
  }

  &.center ul {
    justify-content: center;
  }

  ul {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
  }

  li {
    display: block;

    &:hover a {
      color: #111;
    }
  }

  a {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: .5em 1em;
    vertical-align: top;
    outline: 0;
  }

  .active a {
    border-bottom-color: $primary;
    color: $primary;
  }

  &.boxed {
    a {
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
    }

    .active a {
      background-color: #fff;
      border-color: #dbdbdb;
      border-bottom-color: transparent !important;
    }
  }

  &.toggle {
    ul {
      border-bottom: none;
    }

    li + li {
      margin-left: -1px;
    }

    a {
      border-color: #dbdbdb;
      border-style: solid;
      border-width: 1px;
      margin-bottom: 0;
      position: relative;
    }

    .active a {
      background-color: $primary;
      border-color: $primary;
      color: $primary-text;
      z-index: 1;
    }

    &.rounded li:first-child a {
      border-bottom-left-radius: 10000px;
      border-top-left-radius: 10000px;
      padding-left: 1.25em;
    }

    &.rounded li:last-child a {
      border-bottom-right-radius: 10000px;
      border-top-right-radius: 10000px;
      padding-right: 1.25em;
    }
  }
}

.tab-page, .tab-menu {
  display: none;

  &.active {
    display: block;
  }
}

.tag {
  display: inline-block;
  padding-left: .75em;
  padding-right: .75em;
  height: 18px;
  text-align: right;
  border-radius: 3px;
  font-size: 0.875em;
  line-height: 18px;
  white-space: nowrap;
  background: $body-bg;

  &.bg {
    background: $primary;
    color: $primary-text;
  }

  &.dark {
    background: $dark;
    color: $dark-text;
  }
}

.badge {
  @extend .tag;
  border-radius: 8px;
}

.tags, .badges {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .tag:not(:last-child), .badge:not(:last-child) {
    margin-right: .5rem;
  }

  .tag, .badge {
    margin-bottom: .5rem;
  }
}

// Modal

.modal, .modal-background {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0
}

.modal {
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 300;

  &.active {
    display: flex;
  }

  .modal-content {
    margin: 0 20px;
    min-height: 125px;
    max-height: calc(100vh - 120px);
    overflow: auto;
    position: relative;
    width: 600px;
    max-width: 100%;
    @extend .card;

    &.loading {
      padding: 50px;
    }
  }

  &.big .modal-content {
    width: 850px;
  }

  &.small .modal-content {
    width: 450px;
  }

  .modal-close {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 46px;
    line-height: 1;
    background: none;
    color: #fff;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }

  .wrapper {
    padding: 15px;
  }

  .modal-content .box .box-content {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    padding: 4px;

    .field {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.modal-background {
  background-color: rgba(10, 10, 10, .34);
  position: absolute;
}

.notification {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 14px 16px;
  background: #fff;
  min-width: 200px;
  border-radius: 10000px;
  opacity: 0;
  transform: translateY(100%) scale(0.7);
  transform-origin: bottom right;
  transition: all .2s;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, .16);
  z-index: 2000;

  &.success {
    background: $green;
    padding-left: 34px;
    color: #fff;

    &::before {
      position: absolute;
      font-size: 1rem;
      left: 16px;
      color: #fff;
      line-height: 21px;
      @extend .icon;
    }

    @extend .icon-check;
  }

  &.error {
    background: $red;
    padding-left: 34px;
    color: #fff;

    &::before {
      position: absolute;
      font-size: 1rem;
      left: 16px;
      color: #fff;
      line-height: 21px;
      @extend .icon;
    }

    @extend .icon-cancel;
  }

  &.active {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
